#footerWrapper{height: 25px;width: 100%;position: fixed;bottom: 0px;color: #fff;text-align: center;padding-top: 8px;background: #0f193c;}
#footer{width: 90%;margin: -3px auto;}
#footer span{margin-left: 2px;color: #fff}
.footerThalesLogo{width: 90px;height: 15px;margin-right: 10px;display: inline-block;}