@import 'src/variable';
.dateRangeAlign{    float:left;
    display: inline-block;
    margin-right: 5px;}


.import{padding-top: 5px;text-align: center;margin-top: -55px}
.import123{padding-top: 50px;text-align: center;margin-top: -6px}
.import input[type=file] {width: 100px;position: relative;left: 0;top: -23px;opacity: 0;}
#programName {
  width: 225px !important;
  height: 25px !important;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  box-shadow: none;
  word-break: break-word;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}
#location {
    width: 225px !important;
    height: 25px !important;
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: none;
    word-break: break-word;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
@media (min-width: 1200px) and (max-width: 1359px){
  #programName {width: $form-control-width-xs;}
}
@media (min-width: 1360px) and (max-width: 1599px){
  #programName {width: $form-control-width-sm;}
}
@media (min-width: 1600px) and (max-width: 1899px){
  #programName {width: $form-control-width-md;}
}
@media (min-width: 1900px) {
  #programName {width: $form-control-width-lg;}
}
.form-control-small-3{width:216px !important;word-break: break-word}

.searchContainer {
    position: relative;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
  }
  .searchContainer .searchExpandBtn {
    position: absolute;
    bottom: -3px;
    right: 50%;
    width: 28px;
    height: 12px;
    display: inline-block;
    border: none;
  }
  .searchContainer .searchExpandBtn:focus{
    border: none;
    outline: none;
    outline-color: transparent;
  }
  .searchContainer .notExpanded {
    background: url("../../assets/images/smart-sprite.png") -19px -710px;
    cursor: pointer;
  }

  .searchContainer .expanded {
    background: url("../../assets/images/smart-sprite.png") -54px -710px;
    cursor: pointer;
  }
  .disabledIcon {
    opacity: 0.6;
    cursor: not-allowed !important;
  }
  //copy to clipboard
  #snackbar {
    color: #0b0c0b;
    padding: 5px 10px;
    background-color: #72ea4c;
    font-size: 11px;
    font-style: italic;
    border-radius: 4px;
    visibility: hidden;
  }
  .formBtnSmall{
    margin: 8px  !important;
    font-size: 10px !important;
    height: 22px !important;
    margin-left: 0px !important;
    font-weight: normal;
    padding: 5px;
    cursor: pointer;
  }
  .runningLogArea {
    position: absolute;
    right: -100%;
  }
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  .scriptViewtextArea {
    width: 100%;
    height: 100%;
    min-height: 150px;
    padding: 5px;
    border: 1px solid #d3d5d8;
  }
  .rfScriptContainer label {
      width: auto;
  }
  .viewContent{
    height: 25px;
    width: 24px;  
  }
  .scroptListViewBtn {
      border: none !important;
      outline: none;
      cursor: pointer;
      float: left;
      margin-left: 13px;
      width:10%;
  }
  .buttonBg{
      background: url(../../../src/assets/images/smart-sprite.png) -149px -241px !important;
  }
  .scroptListViewBtn.buttonDisabled {
      opacity: 0.3;
  }
  .infoRow{background-position-x: 3px}
  .pingIDBlack {
    width: 26px;
    height: 24px;
    cursor: pointer;
    background: url(../../../src/assets/images/smart-sprite.png) -629px -163px !important;
  }
  .pingIDBlack :hover {
    background: url(../../../src/assets/images/smart-sprite.png) -819px -163px !important;
  }
  .runningLog {
    background: url(../../../src/assets/images/smart-sprite.png) -79px -245px !important;
  }
  .deleteRow {
    background: url(../../../src/assets/images/smart-sprite.png) -43px -167px !important;
  }
  .iconsWrapper {
    padding-top: 5px;
    padding-left: 10px;
    border-radius: 2px;
    margin-top: -22px;
}
.runningLogLauncher, .runningLogContainer {
  position: fixed;
  right: 15px;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 3px 3px 0 0;
}

.runningLogLauncher {
  width: 25px;
  max-width: 150px;
/*     height: 25px;
  padding: 0 10px; */
  /* background-color: #1e1e21; */
  color: #f1f1f1;
  z-index: 4;
  cursor: pointer;
  right: 30px;
  justify-content: center;
}
.runningLogLauncher .maxRunningLog {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

}

/* .runningLogLauncher .maxRunningLog::before {
  content: "\02C4";
  font-size: x-large;
  height: 17px;
  font-weight: normal;
} */

.runningLogContainer {
  max-height: 80%;
  min-height: 50%;
  background-color: #ffffff;
  z-index: 3;
  box-shadow: 0 0 10px 0px #00000061;
}
.runningLogContainer .viewLog {
  /* overflow: auto;
  width: 100%;
  height: 300px;
  flex-grow: 1; */

  overflow: auto;
  width: 100%;
  /* flex-grow: 1; */
  flex: 1 1 auto;
  border: 1px solid #b8c0cc;
  margin: 5px 0; 
  padding: 10px;    
}

.runningLogContainer .dispHeader {
  color: #5360b0;
  height: 20px;
  display: block;
  text-align: center;
  /* flex-basis: 20px; */
  /* flex-shrink: 1; */
}
.runningLogContainer .viewLog{
  height: 96%;

  /* overflow: hidden;
  width: auto;
  height: auto; */
}

.runningLogAction {
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

.runningLogAction .minRunningLog {
  width:30px;
  height: 25px;
  padding: 0 10px;
  background-color:#1e1e21;
  color: #f1f1f1;
  z-index: 4;
  cursor: pointer;
  display: flex;

  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin-top: -16px;
  border-radius: 3px
}

/* .runningLogAction .minRunningLog::before {
  content: "\02C5";
  font-size: x-large;
  height: 17px;
  font-weight: normal;
} */

.runningLogAction .closeRunningLog {
  width:30px;
  height: 25px;
  padding: 0 10px;
  background-color:#d63434;
  z-index: 4;
  cursor: pointer;
  display: flex;

  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin-top: -16px;
  margin-right: 2px;
  border-radius: 3px
}
.runningLogArea {
  position: absolute;
  right: -100%;
}
.dispHeaderLog{color: #5161AC;margin-top: 10px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding: 0px 40px;}
  .dispHeader{display: flex;justify-content: center;color: #5161AC;margin-top: 10px; h4{text-align: center;}}
  .maxIcon  {
    background: url(../../../src/assets/images/smart-sprite.png) no-repeat -203px -703px;
    width: 26px;
      height: 24px;
      margin-top: -13px;
      cursor: pointer;
  }
  
  .minIcon  {
      /* background: url(../../../src/assets/images/smart-sprite.png) -174px -241px; 
      width: 14px;
      height: 17px; */
    background: url(../../../src/assets/images/smart-sprite.png) no-repeat -177px -703px;
    width: 26px;
    height: 26px;
      margin-top: -13px;
      cursor: pointer;
  }
  
  .wideIcon  {
      /* background: url(../../../src/assets/images/smart-sprite.png) -174px -241px; 
      width: 14px;
      height: 17px; */
    background: url(../../../src/assets/images/smart-sprite.png) no-repeat -176px -703px;
    width: 26px;
    height: 26px;
      margin-top: -13px;
      cursor: pointer;
  /*     margin-right:2px; */
      transform: rotate(270deg);
  }
  
  .normalIcon  {
      /* background: url(../../../src/assets/images/smart-sprite.png) -174px -241px; 
      width: 14px;
      height: 17px; */
    background: url(../../../src/assets/images/smart-sprite.png) no-repeat -177px -702px;
    width: 26px;
    height: 26px;
      margin-top: -13px;
  /*     margin-right:2px; */
      transform: rotate(90deg);
      cursor: pointer;
  }
  
  .closeIcon  {
    background: url(../../../src/assets/images/smart-sprite.png)  no-repeat -151px -703px;
    width: 26px;
      height: 26px;
      margin-top: -13px;
      cursor: pointer;
  /*     margin-right:2px; */
  }
  #pingTestButton:disabled,
  #pingTestButton[disabled]{
    border: 1px solid #838DBB !important;
    background-color: #838DBB !important;
    cursor: not-allowed;
  }
  .pingTestImg {
    height: 75px;
    cursor: pointer;
  }
  .pingTestImg:hover {
    height: 78px;
  }
  td.InProgress {
    background-color:#f2c645;
    color: #323230;
  }
  td.Completed {
    background-color: #b0db59;
    color: #323230;
  }
  td.Failure {
    background-color: #fa8c8c;
    color: #323230;
}