<div class="page-wrapper">
    <rct-loader *ngIf="showLoader"></rct-loader>
    <h1 class="mainHead">CHECKLIST</h1>
    

    <ng-template #confirmModal let-c="close" let-d="dismiss">
        <div class="sucessContentWrapper">
            <div class="confirmIcon"></div>
            <div class="confirmContent deletePopup">
                <p>
                    <b>Are You Sure, </b>
                <!-- </p>
                <br>
                <p> -->You want to <b>Delete</b>
                </p>
            </div>
        </div>
        <div class="deletePopupBtn modal-footer textAlignCenter">
            <button type="button" class="formBtn btn btn-secondary modal_button_yes" (click)="d('dismiss click')" id="deleteConfirmation">YES</button>
            <button type="button" class="formBtn btn btn-secondary modal_button_no" (click)="c('Close click')" id="modal_button_no">NO</button>
        </div>
    </ng-template>
    <ng-template #sessionExpiredModal let-c="close" let-d="dismiss">
        <div class="failureIcon"></div>
        <p id="sessionPopup">Session Expired</p>
        <div class="modelDismiss" (click)="closeAndLogout()"></div>
    </ng-template>
    <ng-template #successModal let-c="close" let-d="dismiss">
        <div class="successIcon"></div>
        <p id="sessionPopup">{{message}}</p>

        <div class="modelDismiss" (click)="closeModel()"></div>
    </ng-template>
    <rct-model *ngIf="showModelMessage" [message]="modelData"></rct-model>
    <div id="formWrapper">
        <form class="form-horizontal">
            <div class="row">
                <!-- <div class="col-3">
                    <div class="form-group ">
                        <label for="templateName">SELECT DATE RANGE</label>
                        <input class="form-control form-control-small dateRangeAlign" id="fromDate" name="fromDate" [(ngModel)]="fromDate"
                            placeholder="FROM DATE" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [max]="toDate">
                         <div class="error-message-block"></div>
                        <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>

                        <input class="form-control form-control-small dateRangeAlign" id="toDate" name="toDate" [(ngModel)]="toDate" [min]="fromDate" [max]="max" [owlDateTimeTrigger]="dt1"
                        placeholder="TO DATE" [owlDateTime]="dt1">
                         <div class="error-message-block"></div>
                        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                        
                    </div>
                </div>
 -->

                <div class="col-4">
                    <div class="form-group ">
                        <label for="templateName" class="asterisk_input">SELECT DATE RANGE</label>
                        <input class="form-control form-control-small dateRangeAlign" id="fromDate" name="fromDate" [(ngModel)]="fromDate"
                            placeholder="FROM DATE" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [max]="toDate" (dateTimeChange)="onChangeDate()">                        
                        <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
                        <input class="form-control form-control-small dateRangeAlign" id="toDate" name="toDate" [(ngModel)]="toDate" [min]="fromDate" [max]="max" [owlDateTimeTrigger]="dt1"
                        placeholder="TO DATE" [owlDateTime]="dt1" (dateTimeChange)="onChangeDate()">                         
                        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                        <div class="error-message-block" *ngIf="errMessage">Please Select Date Range</div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group searchMarginCiq"> 
                        <label for="templateName" class="asterisk_input">CIQ NAME</label>
                         <!--   <select class="form-control checklistSearch" name="ciqName" id="ciqName" #ciqName [(ngModel)]="ciqFileDetails">
                            <option value="">--Select--</option>
                            <option *ngFor="let key of getCiqList" [ngValue]="key">{{key.ciqFileName}}</option>
                        </select> -->
                        <div class="">
                            <ngx-select-dropdown [config]="ciqNameConfig" id="ciqName" [options]="getCiqList" [(ngModel)]="ciqFileDetails" 
                            name="ciqName"></ngx-select-dropdown>                    
                        <div class="error-message-block"></div>
                        </div>
                    </div>
                </div>



                <div class="col-4">
                    <div class="form-group searchMarginChecklist" >
                        <label for="templateName">CHECKLIST</label>
                        <!-- <select class="form-control" name="checklistName" id="checklistName"  #checklistName [(ngModel)]="checklistDetails">
                            <option value="">--Select--</option>
                            <option *ngFor="let key of getChecklist" [ngValue]="key">{{key.checklistFileName}}</option>
                        </select> -->
                        <input type="text" class="form-control checklistSearch" id="ciqCheckList" name="ciqCheckList" [value]="ciqFileDetails ? ciqFileDetails.checklistFileName : ''" disabled/>
                        <div class="error-message-block"></div>
                    </div>
                </div>
            </div>         
            <div class="textAlignCenter">
                <button name="save" class="formBtn myriadproBold validateForm airlinecnfgSearch" id="searchButton" (click)="getDeatilsByChecklist($event)"
                    accesskey="s">SEARCH</button>
            </div>                 

        </form>
    </div>
    
    <div class="ciqTabList" style="margin-top: 15px;" *ngIf="sheetDispTab">
        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item"  *ngFor="let list of checklistSheetList; let index= index">
                <div (click)="getAllChecklistDetails(list,index)" id="sheet{{index}}"  accesskey="h" name="seatch" class=" divalign float-sm-right float-md-right float-lg-right float-xl-right" [ngClass] ="{'activeTab':sheetHighlight == index,'inactiveTab':sheetHighlight!= index }">{{list | uppercase}}</div>
            </li>           
        </ul>
    </div>
    <rct-nodata *ngIf="noDataVisibility" [subTitle]="'Please click on <u><b>Search</b></u> to see the details'"></rct-nodata>
    <div style="padding : 10px;" id="formWrapper" *ngIf="tableShowHide">
        <div id="tableWrapper">
            <div class="scrollHead">
                <table class="table" id="uploadDetails">
                    <thead>
                        <tr>
                            <!-- <th>
                                <div class="form-control-ciq">NODE NAME</div>
                            </th> -->
                            <ng-container *ngFor="let checklist of checklistTableData[0].checkListMap | objectKeys; let index = index">
                                    <th>
                                        <div class="form-control-checklist">{{checklist | uppercase}}</div>
                                    </th>                               
                            </ng-container>
                            <th>
                                <div></div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="scrollBody">
                <table class="table" id="systemMgrData">
                        <tbody id="rowCount">
                            <tr id="row_id_{{key.id}}" *ngFor="let key of checklistTableData; let enodeIndex = index">                              
                                
                                <td *ngFor="let checklistData of key.checkListMap | objectValues; let index = index" >
                                    <div id="{{checklistData}}" class="form-control-checklist">{{checklistData}}</div>
                                </td>
                                
                                <!-- <td class="" data-toggle="tooltip" data-placement="right" data-container="body">
                                    <span class="eventColText"></span>
                                    <div class="iconsWrapper tableRowAction" id="fixedCol" ng-style="iconsWrapperPosition">
                                        <div (click)="addRow($event, key, enodeIndex)" class="cloneRow" placement="bottom" container="body"></div>
                                        <ng-template  #save>Save</ng-template>
                                        <ng-template  #cancel>Cancel</ng-template>
                                        <div (click)="addRow($event, key, enodeIndex)" class="cloneRow" placement="bottom" container="body" [ngbTooltip]="(addtableFormArray[0] == enodeIndex) ? save:'Clone'"></div>
                                        <div (click)="editRow($event, key, enodeIndex)" class="editRow" placement="bottom" container="body" [ngbTooltip]="(editableFormArray[0] == enodeIndex) ? save:'Edit'"></div>
                                        <div (click)="deleteRow(confirmModal, key.id, $event)" class="deleteRow" placement="bottom" container="body" [ngbTooltip]="(addtableFormArray[0] == enodeIndex || editableFormArray[0] == enodeIndex) ? cancel:'Delete'"></div>
                                    </div>
                                </td> -->
                                <td class="" data-toggle="tooltip" data-placement="right" data-container="body">
                                    <span class="eventColText"></span>
                                    <div class="form-control-fixed iconsWrapper tableRowAction" id="fixedCol" ng-style="iconsWrapperPosition">
                                        <div (click)="showScriptSeqModel($event, key, enodeIndex, scriptDetailsModel)" class="viewRowScriptDetails_light" placement="bottom" container="body" ngbTooltip="Edit Script Details"></div>
                                        <!-- <ng-template  #save>Save</ng-template>
                                        <ng-template  #cancel>Cancel</ng-template>
                                        <div (click)="addRow($event, key, enodeIndex)" class="cloneRow" placement="bottom" container="body" [ngbTooltip]="(addtableFormArray[0] == enodeIndex) ? save:'Clone'"></div>
                                        <div (click)="editRow($event, key, enodeIndex)" class="editRow" placement="bottom" container="body" [ngbTooltip]="(editableFormArray[0] == enodeIndex) ? save:'Edit'"></div>
                                        <div (click)="deleteRow(confirmModal, key.id, $event)" class="deleteRow" placement="bottom" container="body" [ngbTooltip]="(addtableFormArray[0] == enodeIndex || editableFormArray[0] == enodeIndex) ? cancel:'Delete'"></div> -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>                    
                </table>
            </div>
        </div>
<!--         <div id="paginationWrapper">
            <div *ngIf="pageRenge.length" class="floatLeft page" style="padding-top: 0px;margin-left:20px;">
                <div class="floatLeft" style="width: 75px;padding-top: 6px">Show</div>
                <select [disabled]="paginationDisabbled" [(ngModel)]="pageSize" (change)="onChangeTableRowLength($event)" style="margin-top: 4px; margin-right: 6px;margin-left: -39px;"
                    class="form-control-pagination floatLeft" aria-controls="TableRowLength" size="1" name="TableRowLength" id="TableRowLength">
                    <option selected="selected" value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <div class="floatLeft" style="width: 75px;padding-top: 6px">Entries</div>
            </div>
            <div class="floatRight page" style="padding-top: 3px;margin-right:20px;">
                <ul *ngIf="pageRenge.length" class="pagination floatRight">
                    <li id="firstPage" [ngClass]="{disabled:(currentPage === 1 || paginationDisabbled)}" class="page-item">
                        <a class="page-link" (click)="setPage(1)">FIRST</a>
                    </li>
                    <li id="previousPage" [ngClass]="{disabled:(currentPage === 1 || paginationDisabbled)}" class="page-item">
                        <a class="page-link" (click)="setPage(pager.currentPage - 1)">PREV</a>
                    </li>
                    <li *ngFor="let n of pager.pages" [ngClass]="{active:currentPage === n, disabled:paginationDisabbled}" class="page-item">
                        <a class="page-link" (click)="setPage(n)" id='{{n+1}}'>{{n}}</a>
                    </li>
                    <li id="nextPage" [ngClass]="{disabled:(currentPage === totalPages || paginationDisabbled)}" class="page-item">
                        <a class="page-link" (click)="setPage(pager.currentPage + 1)">NEXT</a>
                    </li>
                    <li id="lastPage" [ngClass]="{disabled:(currentPage === totalPages || paginationDisabbled)}" class="page-item">
                        <a class="page-link" (click)="setPage(pager.totalPages)">LAST</a>
                    </li>
                </ul>
            </div>
        </div>   -->
    </div>
    <ng-template #scriptDetailsModel let-c="close" let-modal>
            <div class="modal-header">                
                <!-- <button type="button" class="close" aria-label="Close" (click)="cancelScript()">
                    <span aria-hidden="true">&times;</span>
                </button> -->
                <div class="dispHeader">
                    <h4>CHECKLIST - SCRIPT DETAILS </h4>
                </div>
            </div>
            <div class="modelBody">
                <div class="infoMsg">
                    <button type="button" class="formBtn btn btn-light" (click)="addScriptRow()" [disabled]="editMode != -1">ADD</button>
                </div>
                <div>
                    <form autocomplete="off">
                        <div id="tableWrapper" class="scriptDetailsWrapper">
                            <div class="scrollHead">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div (click)="changeSorting('scriptName', $event, 0)" class="sorting form-control-middle">SCRIPT NAME</div>
                                            </th>
                                            <th>
                                                <div (click)="changeSorting('scriptExeSeq', $event, 1)" class="sorting form-control-middle">EXECUTION SEQUENCE</div>
                                            </th>
                
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="scrollBody">
                                <table class="table" id="scriptDetailTable" style="min-width: 968px;">
                                    <tbody id="rowCount">
                                        <ng-container *ngFor="let key of scriptDetails; let index = index">
                                            <tr id="row_{{index}}" class="row_id_{{key.scriptId}} useCaseRow">
                                                <td class="form-control-middle" data-toggle="tooltip" data-placement="right" data-container="body">
                                                    <span *ngIf="this.editMode != index" class="eventColText">{{key.scriptName}}</span>
                                                    <input *ngIf="this.editMode == index" value="{{key.scriptName}}" id="scriptName_{{index}}" name="scriptName_{{index}}" type="text"/>
                                                    <div class="error-message-block" *ngIf="this.editMode == index"></div>
                                                </td>
                                                <td class="form-control-middle" data-toggle="tooltip" data-placement="right" data-container="body">
                                                    <span *ngIf="this.editMode != index" class="eventColText">{{key.scriptExeSeq}}</span>
                                                    <div class="form-control-fixed iconsWrapper tableRowAction" id="fixedCol" ng-style="iconsWrapperPosition">
                                                        <div *ngIf="this.editMode != index" (click)="editScriptRow($event,index)" class="editRow" placement="bottom" container="body"
                                                            ngbTooltip="Edit"></div>
                                                        <div *ngIf="this.editMode != index" (click)="deleteScriptRow($event,index)" class="deleteRow" placement="bottom" container="body"
                                                            ngbTooltip="Delete"></div>
                                                        <div *ngIf="this.editMode == index" (click)="saveScriptRow($event,index)" class="saveRow validateForm" placement="bottom" container="body"
                                                            ngbTooltip="Save"></div>
                                                        <div *ngIf="this.editMode == index" (click)="cancelScriptRow($event,index)" class="cancelRow" placement="bottom" container="body"
                                                            ngbTooltip="Cancel"></div>
                                                    </div>
                                                    <input *ngIf="this.editMode == index" value="{{key.scriptExeSeq}}" id="scriptExeSeq_{{index}}" name="scriptExeSeq_{{index}}" type="number"
                                                        min="1" step="1"/>
                                                    <div class="error-message-block" *ngIf="this.editMode == index"></div>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="infoMsg">
                    <div class="infoIcon floatLeft"></div>
                    <span>For generic content, <b>*</b> can be used in script name</span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modalAction">
                    <button type="button" class=" btn btn-light" (click)="(editMode == -1) && saveScriptDetails()" [ngClass]="{buttonDisabled: (editMode != -1),formBtn: (editMode == -1)}">SAVE</button>
                    <button type="button" class="formBtnCncl btn btn-light" (click)="cancelScriptDetails()">CANCEL</button>
                </div>
            </div>
        </ng-template>
</div>
            