$primary-color: #333;

$form-control-width: 225px !important;
$form-control-width-xs: 230px !important;  //1280px - 1359px
$form-control-width-sm: 260px !important;  //1360px - 1599px)
$form-control-width-md: 320px !important;  //1600px - 1899px
$form-control-width-lg: 380px !important;  //1900px - 